.auth-form-wrapper {
  display: flex;
  height: 100vh;
  background-image: url('../images/auth-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .auth-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      padding: 2rem 1.5rem;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.25rem;
      backdrop-filter: blur(1rem);
      .head-text {
        text-align: center;
        color: #fff;
        h4 {
          font-weight: 600;
        }
        p {
          font-size: 0.85rem;
          color: #deefff;
        }
      }
      .or-separator {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        p {
          position: relative;
          padding: 0 0.5rem;
          text-align: center;
          font-size: 0.85rem;
          color: #deefff;
          margin-bottom: 0;
        }
      }
      input {
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255, 0.5);
        color: #fff;
      }
    }
  }
}
