.auth-form-wrapper {
  display: flex;
  height: 100vh;
  .left {
    height: 100%;
    width: 50%;
    background-color: #f1f5f9;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    .form {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      .head-text {
        text-align: center;
        h4 {
          font-weight: 600;
        }
        p {
          font-size: 0.85rem;
          color: #6c757d;
        }
      }
      .or-separator {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #e0e0e0;
        }
        p {
          position: relative;
          padding: 0 0.5rem;
          text-align: center;
          background-color: #fff;
          font-size: 0.85rem;
          color: #6c757d;
          margin-bottom: 0;
        }
      }
    }
  }
}
