@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.form-control,
.form-select,
.btn {
  font-size: 0.875rem;
}
.form-select {
  background-size: 14px 10px;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
}

.card {
  border: 1px solid #dee2e6;
  .card-title {
    font-weight: 600;
  }
}
