@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.form-control,
.form-select,
.btn {
  font-size: 0.875rem;
}

.form-select {
  background-size: 14px 10px;
}

.form-label {
  font-size: 0.875rem;
  font-weight: 500;
}

.card {
  border: 1px solid #dee2e6;
}
.card .card-title {
  font-weight: 600;
}

.auth-form-wrapper {
  display: flex;
  height: 100vh;
  background-image: url("/assets/images/auth-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.auth-form-wrapper .auth-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form-wrapper .auth-form .form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}
.auth-form-wrapper .auth-form .form .head-text {
  text-align: center;
  color: #fff;
}
.auth-form-wrapper .auth-form .form .head-text h4 {
  font-weight: 600;
}
.auth-form-wrapper .auth-form .form .head-text p {
  font-size: 0.85rem;
  color: #deefff;
}
.auth-form-wrapper .auth-form .form .or-separator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.auth-form-wrapper .auth-form .form .or-separator p {
  position: relative;
  padding: 0 0.5rem;
  text-align: center;
  font-size: 0.85rem;
  color: #deefff;
  margin-bottom: 0;
}
.auth-form-wrapper .auth-form .form input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

.dashboard-wrapper {
  display: flex;
  gap: 0 1rem;
  background-color: rgba(241, 245, 249, 0.5);
}
.dashboard-wrapper .sidebar {
  max-width: 280px;
  width: 100%;
  background-color: #fff;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.dashboard-wrapper .sidebar .logo {
  padding: 1rem;
  border-bottom: 1px solid rgb(241, 245, 249);
}
.dashboard-wrapper .sidebar .logo h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
}
.dashboard-wrapper .sidebar > ul {
  list-style: none;
  margin-bottom: 0;
  padding: 1rem;
  flex: 1;
}
.dashboard-wrapper .sidebar > ul > li {
  margin-bottom: 0.25rem;
}
.dashboard-wrapper .sidebar > ul > li:last-child {
  margin-bottom: 0;
}
.dashboard-wrapper .sidebar > ul > li > a, .dashboard-wrapper .sidebar > ul > li > span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  transition: background-color 0.25s ease;
  color: inherit;
  text-decoration: none;
  font-size: 0.85rem;
  border-radius: 0.5rem;
}
.dashboard-wrapper .sidebar > ul > li > a > span:not(.arrow), .dashboard-wrapper .sidebar > ul > li > span > span:not(.arrow) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dashboard-wrapper .sidebar > ul > li > a .arrow, .dashboard-wrapper .sidebar > ul > li > span .arrow {
  font-size: 0.75rem;
}
.dashboard-wrapper .sidebar > ul > li > a:hover, .dashboard-wrapper .sidebar > ul > li > a.active, .dashboard-wrapper .sidebar > ul > li > span:hover, .dashboard-wrapper .sidebar > ul > li > span.active {
  background-color: #f1f5f9;
}
.dashboard-wrapper .sidebar > ul > li > ul {
  overflow: hidden;
  transition: height 0.25s ease;
  list-style: none;
  padding: 0;
  margin-left: 2.5rem;
  font-size: 0.75rem;
}
.dashboard-wrapper .sidebar > ul > li > ul li:first-child {
  margin-top: 0.25rem;
}
.dashboard-wrapper .sidebar > ul > li > ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 0.25rem 0;
  position: relative;
  transition: color 0.25s ease;
}
.dashboard-wrapper .sidebar > ul > li > ul li a::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.05rem);
  transform: translateY(-50%);
  left: -1rem;
  width: 0.375rem;
  height: 0.375rem;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
}
.dashboard-wrapper .sidebar .footer {
  padding: 1rem;
}
.dashboard-wrapper .content-wrapper {
  flex: 1;
  padding: 1rem;
}
.dashboard-wrapper .content-wrapper .breadcrumb-wrapper {
  margin-bottom: 2rem;
}
.dashboard-wrapper .content-wrapper .breadcrumb-wrapper h3 {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header .header-wrapper {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left .logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.header .center {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .center ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .center ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.header .center ul li a:hover {
  color: #f8b400;
}
.header .right .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero {
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
}
.hero .hero-wrapper {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding-right: 2rem;
}
.hero .hero-wrapper .hero-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero .hero-wrapper .hero-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.hero .hero-wrapper .hero-subtitle p {
  margin-bottom: 0.5rem;
}
.hero .hero-wrapper .btn {
  border-radius: 5rem;
  font-size: 1.25rem;
  padding: 0.75rem 3rem;
}
.hero .creator {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  color: #fff;
  writing-mode: vertical-rl;
}
.hero .creator a {
  color: #f8b400;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */